In [3]:
import pandas as pd 
import numpy as np

In [5]:
dong = pd.read_csv('./data/최종이었으면좋겠다.csv', encoding='utf8')
dong.head()

   구_x  행정동  1인가구       행정동코드     생활인구      도로면적  사망자수  중상자수  경상자수
0  종로구  사직동  1487  11110530.0  24657.0  0.263712   0.0   3.0   2.0
1  종로구  삼청동   380  11110540.0   5117.0  0.319456   0.0   2.0   0.0
2  종로구  부암동  1129  11110550.0  14329.0  0.486688   0.0   1.0   0.0
3  종로구  평창동  1302  11110560.0  17452.0  1.901728   0.0  21.0   2.0
4  종로구  무악동   494  11110570.0   6890.0  0.077184   0.0   1.0   0.0

In [6]:
dong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구_x     430 non-null    object
 1   행정동     430 non-null    object
 2   1인가구    430 non-null    int64
 3   행정동코드   429 non-null    float64
 4   생활인구    429 non-null    float64
 5   도로면적    430 non-null    float64
 6   사망자수    429 non-null    float64
 7   중상자수    429 non-null    float64
 8   경상자수    429 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 30.4+ KB

In [7]:
dong.drop(columns=['행정동코드'],inplace=True)
dong.head(2)

   구_x  행정동  1인가구     생활인구      도로면적  사망자수  중상자수  경상자수
0  종로구  사직동  1487  24657.0  0.263712   0.0   3.0   2.0
1  종로구  삼청동   380   5117.0  0.319456   0.0   2.0   0.0