In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./data/도로현황(도로율)_20220816143734.xlsx',skiprows=[0,2])

c:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df =df.drop(['자치구별(1)'],axis=1)

In [5]:
section = pd.read_csv('./data/행정구역.csv',encoding='utf-8')

In [6]:
section.head()

     시    동  면적 (k㎡)
0  종로구  사직동     1.23
1  종로구  삼청동     1.49
2  종로구  부암동     2.27
3  종로구  평창동     8.87
4  종로구  무악동     0.36

In [7]:
section = section.rename(columns={'시':'구','면적 (k㎡)':'도로면적'})
section.head(2)

     구    동  도로면적
0  종로구  사직동  1.23
1  종로구  삼청동  1.49

In [8]:
df = df.rename(columns={"자치구별(2)":"구",'도로율 (%)':'도로율'})

In [9]:
df = df[['구','도로율']]
df.head()

     구    도로율
0  종로구  21.44
1   중구  18.82
2  용산구  22.19
3  성동구  23.09
4  광진구  28.83

In [10]:
section.head()

     구    동  도로면적
0  종로구  사직동  1.23
1  종로구  삼청동  1.49
2  종로구  부암동  2.27
3  종로구  평창동  8.87
4  종로구  무악동  0.36

In [11]:
section['도로면적']

0      1.23
1      1.49
2      2.27
3      8.87
4      0.36
       ...
421    0.71
422    0.92
423    0.98
424    2.65
425    0.54
Name: 도로면적, Length: 426, dtype: float64

In [12]:
df['도로율'] = df['도로율'].apply(lambda x: x*0.01)

In [13]:
section

       구     동  도로면적
0    종로구   사직동  1.23
1    종로구   삼청동  1.49
2    종로구   부암동  2.27
3    종로구   평창동  8.87
4    종로구   무악동  0.36
..   ...   ...   ...
421  강동구  성내3동  0.71
422  강동구  둔촌1동  0.92
423  강동구  둔촌2동  0.98
424  강동구  상일1동  2.65
425  강동구  상일2동  0.54

[426 rows x 3 columns]

In [15]:
new_section = pd.merge(section, df, left_on='구',right_on='구')

In [16]:
new_section['도로면적합'] = new_section['도로면적'] * new_section['도로율']

In [17]:
new_section

       구     동  도로면적     도로율     도로면적합
0    종로구   사직동  1.23  0.2144  0.263712
1    종로구   삼청동  1.49  0.2144  0.319456
2    종로구   부암동  2.27  0.2144  0.486688
3    종로구   평창동  8.87  0.2144  1.901728
4    종로구   무악동  0.36  0.2144  0.077184
..   ...   ...   ...     ...       ...
421  강동구  성내3동  0.71  0.2432  0.172672
422  강동구  둔촌1동  0.92  0.2432  0.223744
423  강동구  둔촌2동  0.98  0.2432  0.238336
424  강동구  상일1동  2.65  0.2432  0.644480
425  강동구  상일2동  0.54  0.2432  0.131328

[426 rows x 5 columns]

In [20]:
new_section.to_csv('./data/행정동별_도로면적.csv',encoding='utf-8')